:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.banner {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.button {
  height: max-content;
  min-width: min-content;
}
